body {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #004d98;
}

nav {
  margin-bottom: 25px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bolder;
  text-align: center;
}

h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bolder;
  font-style: italic;
  text-align: center;
}

p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

a:link {
  color: #a50044;
  text-decoration: none;
}

a:visited {
  color: #a50044;
}

a:hover {
  color: lawngreen;
}

a:active {
  color: yellow;
}

.celebration {
  margin-left: 295px;
}

.copyright {
  color: grey;
  margin-top: 40px;
}

a {
  padding: 20px;
}

.messi-young-video {
  text-align: center;
  margin-left: 200px;
  padding-bottom: 20px;
}

.baby-dream-team {
  text-align: center;
  margin-left: 200px;
  padding-top: 20px;
}

p,
h1,
h2,
h3 {
  color: white;
}

.first-game {
  text-align: center;
  margin-left: 200px;
  padding-top: 20px;
  width: 876px;
  height: 493px;
}

ul {
  color: #a50044;
  padding: 20px;
  background-color: #edbb00;
}

li {
  margin-left: 20px;
}

h3 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.messi-best-goals {
  text-align: center;
  margin-left: 200px;
  padding-bottom: 20px;
}

.container {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/FC_Barcelona_flag_UEFA_Champions_League_Final_2011.jpg/800px-FC_Barcelona_flag_UEFA_Champions_League_Final_2011.jpg");
}

.psg {
  background-image: url("https://www.si.com/.image/ar_4:3%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTg1NTE3MjEwMzcyOTQwOTYx/messi-neymar-mbappe-psg-ucl.jpg");
  background-size: cover;
}

.messi-goat {
  text-align: center;
  margin-left: 200px;
  padding-bottom: 20px;
}

.video-caption {
  background: #a50044;
  padding: 20px;
  text-align: center;
}
